body{
    background-color: #d0e8f2;
    font-family: 'Antic Slab', serif;
    font-size: large;
}

.navbar {
    background-color: #456268;
    color: #eaeaea;
}

.container {
    margin-top: 10%;
}

#searchedData {
    background-color: rgb(211, 211, 211);
    color: #456268;
    font-family: 'Antic Slab', serif;
    font-size: large;
    border-color: #456268;
    border-style: solid;
}


#currentDayEl {

    padding-left: 20%;
} 

.currentCity {

    font-size: x-large;
}

li {
    font-size: large;
}

.uvLow  {

    background-color: green;
    color: white;

}

.uvMod {

    background-color: yellow;
}

.uvHigh {

    background-color: red;
    color: white;
}

#fiveDay1 {
    margin-top: 5%;
    border-color: #456268;
    border-style: solid;
    margin: .5%;
    background-color: pink;
}

#fiveDay2 {
    margin-top: 5%;
    border-color: #456268;
    border-style: solid;
    margin: .5%;
    background-color: pink;
}

#fiveDay3 {
    margin-top: 5%;
    border-color: #456268;
    border-style: solid;
    margin: .5%;
    background-color: pink;
}

#fiveDay4 {
    margin-top: 5%;
    border-color: #456268;
    border-style: solid;
    margin: .5%;
    background-color: pink;
}

#fiveDay5 {
    margin-top: 5%;
    border-color: #456268;
    border-style: solid;
    margin: .5%;
    background-color: pink;
}

p {
    font-size: small;
    margin: 5px;
}

.weatherImg2 {

    width: 80%;
    height: auto;
}

.col-sm-2 {
    padding-left: 0px;
    padding-right: 0px;
    width: 19%;
    height: auto;
}

.btn {
    background-color: #456268;
    font-family: 'Antic Slab', serif;
    font-size: large;
    color: white;

}